@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: 'Geist Variable', 'Geist Fallback', system-ui;
  --font-mono:
    'Geist Mono Variable', 'Geist Mono Fallback', 'SFMono-Regular', Consolas,
    'Liberation Mono', Menlo, Courier, monospace;
}

:root {
  --radius: 0.6rem;

  --container-padding: 1rem;
  --container-padding-sm: 2rem;
  --container-padding-lg: 3rem;
  --container-padding-xl: 4rem;
  --container-padding-2xl: 5rem;
  --container-2xl: 1480px;

  --background: hsl(0 0% 98%);
  --foreground: hsl(22 16% 9%);
  --card: hsl(0 0% 95%);
  --muted: hsl(222 13% 90%);
  --muted-foreground: hsl(220 12% 45%);
  --accent: hsl(51 91% 50%);
  --accent-foreground: hsl(0 0% 10%);
  --border: hsl(220 0% 85%);
  --scrollbar: hsl(220 0% 85%);
}

.dark {
  --background: hsl(223 16% 9%);
  --foreground: hsl(0 0% 85%);
  --card: hsl(223 16% 9%);
  --muted: hsl(222 13% 19%);
  --muted-foreground: hsl(220 12% 46%);
  --accent: hsl(51 91% 50%);
  --accent-foreground: hsl(0 0% 10%);
  --border: hsl(223 23% 21%);
  --scrollbar: hsl(223 23% 21%);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-scrollbar: var(--scrollbar);
}

@layer base {
  * {
    /* scrollbar-width: thin; */
    scrollbar-color: var(--scrollbar) transparent;

    -webkit-tap-highlight-color: transparent;
    @apply border-border;
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: var(--border);
  }

  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: pretty;
  }

  img,
  video,
  svg {
    height: auto;
    max-width: 100%;
  }

  button {
    @apply cursor-pointer;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
      transition: none;
    }
  }
}

@utility container {
  @apply mx-auto max-w-full;

  @variant sm {
    padding-inline: var(--container-padding-sm);
  }

  @variant md {
    padding-inline: var(--container-padding);
  }

  @variant lg {
    padding-inline: var(--container-padding-lg);
  }

  @variant xl {
    padding-inline: var(--container-padding-xl);
  }

  @variant 2xl {
    padding-inline: var(--container-padding-2xl);
    max-width: var(--container-2xl);
  }
}
