---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <p>Web in development...</p>
  </main>
</Layout>

<style>
  main {
    padding: 1rem;
    max-width: 1240px;
    color: #555d6d;
    font-size: 1.2rem;
    line-height: 1.6;
    min-height: 100dvh;
    display: grid;
    place-items: center;
  }
</style>
