---
import Layout from '@/layouts/Layout.astro'

import ContactButton from '@/components/ContactButton.astro'
import Toaster from '@/components/Toaster.astro'

import HeroSection from '@/components/sections/hero.astro'
import LabSection from '@/components/sections/lab.astro'
import WorkSection from '@/components/sections/work.astro'
import LocationSection from '@/components/sections/location.astro'
import AboutSection from '@/components/sections/about.astro'
import Footer from '@/components/footer.astro'
---

<Layout>
  <main>
    <HeroSection />
    <LabSection />
    <WorkSection />
    <LocationSection />
    <AboutSection />
  </main>
  <Footer />
  <ContactButton />
  <Toaster />
</Layout>
