---
interface Props {
  className?: string
}

const { className } = Astro.props
---

<div
  class:list={[
    'group bg-muted-foreground text-muted-foreground relative rounded-full p-px transition-colors before:absolute before:inset-0 before:rounded-full before:bg-[var(--tech-color)] before:opacity-0 before:transition-opacity hover:bg-transparent hover:text-[var(--tech-color)] hover:before:opacity-100',
    className,
  ]}
>
  <div
    class="bg-background relative inline-flex items-center rounded-full px-4 py-1 select-none group-hover:border-transparent before:absolute before:inset-0 before:rounded-full before:transition-colors group-hover:before:bg-[var(--tech-color)/0.1]"
  >
    <span>
      <slot />
    </span>
  </div>
</div>

<style>
  .js {
    --tech-color: hsl(43 93% 40%);
  }
  .ts {
    --tech-color: hsl(211 60% 48%);
  }
  .deno {
    --tech-color: hsl(0 0% 0%);
  }
  .node {
    --tech-color: hsl(103 48% 52%);
    &::before {
      background: linear-gradient(to right, #6cc04a, #41873f);
    }
  }
  .hono {
    --tech-color: hsl(25 98% 45%);
  }
  .react {
    --tech-color: hsl(195 81% 43%);
  }
  .next,
  .pempot {
    --tech-color: hsl(0 0% 0%);
  }
  .astro {
    --tech-color: hsl(280 76% 42%);
    &::before {
      background: linear-gradient(to right, #1321ac, #881abd);
    }
  }
  .tailwind {
    --tech-color: hsl(199 94% 60%);
  }
  .supabase {
    --tech-color: hsl(153 59% 55%);
  }
  .firebase {
    --tech-color: hsl(10 86% 47%);
  }
  .cloudflare {
    --tech-color: hsl(27 91% 56%);
  }
  .turso {
    --tech-color: hsl(166 92% 30%);
  }
  .drizzle {
    --tech-color: hsl(78 91% 30%);
  }
  .sqlite {
    --tech-color: hsl(197 74% 53%);
    &::before {
      background: linear-gradient(to right, #89d0ed, #3b91d5);
    }
  }
  .postgresql {
    --tech-color: hsl(207 44% 40%);
  }
  .mongo {
    --tech-color: hsl(145 99% 30%);
  }
  .figma {
    --tech-color: hsl(261 88% 60%);
  }
  .css {
    --tech-color: hsl(207 44% 40%);
  }
  .html {
    --tech-color: hsl(18 86% 55%);
  }

  @media (prefers-color-scheme: dark) {
    .js {
      --tech-color: hsl(52 83% 63%);
    }
    .deno {
      --tech-color: hsl(0 0% 100%);
    }
    .next,
    .pempot {
      --tech-color: hsl(0 0% 100%);
    }
    .astro {
      --tech-color: hsl(280 76% 42%);
      &::before {
        background: linear-gradient(to right, #1321ac, #881abd);
      }
    }
    .turso {
      --tech-color: hsl(166 92% 66%);
    }
    .drizzle {
      --tech-color: hsl(78 91% 65%);
    }
    .sqlite {
      --tech-color: hsl(197 74% 73%);
      &::before {
        background: linear-gradient(to right, #89d0ed, #3b91d5);
      }
    }
    .mongo {
      --tech-color: hsl(145 99% 46%);
    }
  }
</style>
