---
import '@fontsource/geist-sans/400.css'
import '@fontsource/geist-sans/500.css'
import '@fontsource/geist-sans/600.css'
import '@fontsource/geist-sans/700.css'
import '@fontsource/geist-mono/400.css'
import '@fontsource/geist-mono/500.css'
import '@fontsource/geist-mono/600.css'
import '@fontsource/geist-mono/700.css'

import '@/styles/global.css'

import ThemeSwitcher from '@/components/ThemeSwitcher.astro'

interface Props {
  title?: string
  description?: string
}

const {
  title = 'Antonio J. Rodríguez - Web Developer',
  description = 'Personal web page of Antonio Jesús Rodríguez, full stack javascript developer.',
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <ThemeSwitcher />
    <slot />
  </body>
</html>
